.socials {
  padding: 0;
  padding-left: 11px;
  margin: 0;

  @media (max-width: $tablet-width) {
    padding-top: 10px;
    padding-left: 0;
  }

  @media (max-width: $mobile-width) {
    padding-left: 0;
  }
}

.socials--footer {
  transform: translateX(5%);
  padding-left: 0;

  @media (max-width: $tablet-width) {
    padding-top: 0;
  }

  @media (max-width: $mobile-width) {
    transform: translateX(0);
  }
}

.socials ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.socials li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  margin-right: 14px;
  margin-bottom: 14px;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: $tablet-width) {
    width: 30px;
    height: 30px;
    margin-right: 25px;
    margin-bottom: 25px;
  }

  @media (max-width: $mobile-width) {
    width: 30px;
    height: 30px;
  }
}

.socials--footer li {
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-right: 18px;

  @media (max-width: $tablet-width) {
    width: 24px;
    height: 24px;
    margin-right: 15px;
  }

  &:first-child {
    margin-right: 25px;

    @media (max-width: $tablet-width) {
      margin-right: 15px;
    }

    @media (max-width: $mobile-width) {
      margin-right: 29px;
    }
  }

  @media (max-width: $mobile-width) {
    width: 30px;
    height: 30px;
    margin-right: 25px;
  }
}

.socials a {
  cursor: pointer;
  transition: all 0.5s ease;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.socials--footer a {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    box-shadow: 0 0 25px $text-white;
  }

  &:active {
    border: none;
    box-shadow: none;
    opacity: 0.3;
  }
}

.socials--footer svg {
  display: block;
  width: 100%;
  height: 100%;
}
