.page {
  min-width: 320px;
  width: 100vw;
  height: 100%;
  font-family: $roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $text-dark-blue;
}

.page__body {
  position: relative;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 320px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

.page__main {
  padding: 0;
  margin: 0;
}

.page__footer {
  min-height: 108px;
  padding-top: 45px;
  padding-bottom: 40px;
  margin: 0;
  margin-top: auto;
  color: $text-white;
  background-color: $background-footer;
  box-sizing: border-box;

  @media (max-width: $mobile-width) {
    min-height: 260px;
    padding-top: 48px;
  }
}
