.footer__wrapper {
  display: flex;
  justify-content: space-between;
  width: 63.5vw;
  padding-bottom: 55px;

  @media (max-width: $tablet-width) {
    flex-wrap: wrap;
    width: 87vw;
    padding: 0;
    padding-bottom: 65px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    justify-content: flex-start;
  }
}
